{% extends "base.html" %}

{% block script %}
<script>
$(document).ready(function(){
    loadTweetContainer("tweet-container", {{object.id}})
});
</script>
{% endblock script %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12 text-center">
        <div style="background-color:#fc0;">
            <h1>{{ object.user }}</h1>
        </div>
    </div>
    <div class="col-sm-9 col-xs-12">
        <div id='tweet-container'>
        </div>
        <!-- <b>{{ object.title }}</b></br>
        {{ object.text }}<br/>
        Posted: {{ object.timestamp | timesince }} ago -->
    </div>

</div>
{% endblock content %}